#about-hero {
    padding-top: 20rem;
}

#about-hero .top {
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    margin-bottom: 5rem;
}

#about-hero .top .left {
    margin-top: 4rem;
}

#about-hero .bottom img {
    width: 100%;
}

#about-hero .company-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-color);
    margin-top: 2rem;
}

#about-hero .company-info div {
    display: flex;
    gap: 1rem;
}

#about-hero .company-info span {
    white-space: nowrap;
}



@media only screen and (max-width: 870px) {
    #about-hero {
        padding-top: 15rem;
    }

    #about-hero .top {
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 1.5rem;
    }

    #about-hero .top .left {
        margin-top: 0;
    }

    #about-hero .company-info {
        justify-content: start;
    }
}






#mission-vision {
    padding: 20rem 0;
}

#mission-vision .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

#mission-vision .left h2 {
    margin-bottom: 10rem;
}

#mission-vision .left img:first-of-type {
    margin-bottom: 10rem;
}

#mission-vision .left .name {
    color: var(--white-color);
}

#mission-vision .left .position {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#mission-vision .right .line {
    height: 1px;
    background-color: #888;
    margin: 6rem 0;
}

#mission-vision .right .mask {
    opacity: 0.6;
}




@media only screen and (max-width: 1000px) {
    #mission-vision {
        padding: 10rem 0;
    }

    #mission-vision .container {
        gap: 1rem;
    }
}

@media only screen and (max-width: 670px) {
    #mission-vision {
        padding: 5rem 0 8rem;
    }

    #mission-vision .container {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    #mission-vision .left h2 {
        margin-bottom: 3rem;
    }

    #mission-vision .left img:first-of-type {
        margin-bottom: 3rem;
    }

    #mission-vision .right .line {
        margin: 3rem 0;
    }
}






#accordions h2 {
    width: fit-content;
    margin-bottom: 3rem;
}

#accordions .acc-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15rem;
}

#accordions .acc-accordion {
    border-bottom: 1px solid #414141;
}

#accordions .acc-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 2rem 0;
}

#accordions .acc-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.31s cubic-bezier(.61, -0.27, .54, 1.05);
}

#accordions .acc-hidden p {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#accordions .acc-accordion .acc-button img {
    transition: transform .2s ease;
}

#accordions .acc-accordion.active .acc-button img {
    transform: rotate(-90deg);
}




@media only screen and (max-width: 1000px) {
    #accordions .acc-wrapper {
        grid-template-columns: 60% 1fr;
        gap: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    #accordions .acc-wrapper {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    #accordions .acc-button h3 {
        text-align: left;
    }
}





#video {
    position: relative;
    padding: 20rem 0;
}

#video .placeholder {
    width: 100%;
}

#video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: transform .16s ease;
}

#video .play-btn::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--white-color);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}


#video .play-btn::before {
    content: "";
    position: absolute;
    inset: -8px;
    border: 2px solid var(--white-color);
    border-radius: 100vh;
    transition: opacity .3s ease, transform .3s ease;
}

#video .play-btn:hover::before {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
}

#video .play-btn:hover {
    transform: translate(-50%, -50%) scale(.92);
}

#video .play-btn:active {
    transform: translate(-50%, -50%) scale(.85);
}



@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
    }
}



@media only screen and (max-width: 1000px) {
    #video {
        padding: 10rem 0;
    }
}

@media only screen and (max-width: 600px) {
    #video {
        padding: 8rem 0;
    }

    #video .play-btn img {
        transform: scale(.6);
    }
}







#team {
    padding-bottom: 20rem;
}

#team .team-txt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25rem;
    margin-bottom: 7rem;
}

#team h2 {
    width: fit-content;
}

#team .team-txt .txt {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

#team .team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.team-card img {
    width: 100%;
}

.team-card:first-child img {
    border-radius: var(--radius) 0 0 0;
}

.team-card:last-child img {
    border-radius: 0 0 var(--radius) 0;
}

.team-card p:first-of-type {
    color: var(--white-color);
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
}

.team-card p.title {
    font-size: 1.8rem;
}




@media only screen and (max-width: 1000px) {
    #team {
        padding-bottom: 10rem;
    }

    #team .team-txt {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-bottom: 5rem;
    }

}

@media only screen and (max-width: 700px) {
    #team {
        padding-bottom: 6rem;
    }

    #team .team-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}







/* #licences{
    padding: 15rem 0 20rem;
}

#licences .licence-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 6rem;
}

.licence-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #414141;
    border-radius: 100vh;
    aspect-ratio: 1 / 1;
    padding: 5rem;
}

.licence-card p{
    color: var(--white-color);
    text-align: center;
    margin-top: 3rem;
}


@media only screen and (max-width: 1000px) {
    #licences {
        padding: 8rem 0 10rem;
    }

    #licences .licence-grid{
        gap: 1rem;
    }

    .licence-card {
        padding: 3rem;
    }
}


@media only screen and (max-width: 600px) {
    #licences {
        padding: 6rem 0 8rem;
    }

    #licences .licence-grid{
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr;
    }

    .licence-card {
        padding: 2rem;
    }

    .licence-card p {
        font-size: 1.4rem;
        margin-top: 2rem;
    }
} */