/* ------------------------- */
/* ------------------------- */
/* -------1REM = 10px------- */
/* ------------------------- */
/* ------------------------- */


/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

::-moz-selection {
    background: var(--s-color);
    color: var(--black-color);
}

::selection {
    background: var(--primary-color);
    color: var(--black-color);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: 0;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid var(--primary-color);
    border-radius: 100vh;
    outline-offset: 5px;
}

/* width */
::-webkit-scrollbar {
    width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-color: var(--primary-color) var(--black-color);
    scrollbar-width: normal;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 61%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 59%;
    }
}


body {
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    text-rendering: optimizeSpeed;
    background: var(--black-color);
}

main {
    will-change: transform;
}

body.no-scroll,
html.no-scroll{
    overflow: hidden;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--white-color);
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: inherit;
}

button[disabled] {
    cursor: default;
}

p {
    line-height: 1.4;
    color: var(--txt-color);
    font-size: 2rem;
}
p.dark {
    color: var(--black-color);
}

ul,
ol {
    list-style: none;
}

input, textarea, select {
    font: inherit;
    resize: none;
}

/* HIDE ARROWS ON NUMBER INPUTS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* RESET */







/* UTILITIES */

:root {
    --primary-color: #FECC57;
    --secondary-color: #5B93C4;
    --tertiary-color: #FE6518;
    --txt-color: #B7B9BB;
    --white-color: #ffffff;
    --black-color: #121212;
    --gray-color: #B7B7B7;
    --line-color: #414141;
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 1.7rem 4rem;
    color: var(--black-color);
    background: var(--primary-color);
    font-size: 2rem;
    border-radius: 100vh;
    transition: transform 0.1s linear, color 0.1s linear, background 0.15s linear;
}
.btn span {
    --distance: 3em;
    position: relative;
    line-height: 1;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 var(--black-color), 0 var(--distance) var(--black-color);
    overflow: hidden;
    transition: .2s;
    padding: 0 0.1em;
}
.btn:hover span {
    text-shadow: 0 calc(var(--distance) * -1) var(--black-color), 0 0 var(--black-color);
}

.btn.btn-secondary {
    padding: 1.7rem 4rem;
    color: var(--white-color);
    background: transparent;
    border: 1px solid var(--gray-color);
}
.btn.btn-secondary span {
    text-shadow: 0 0 var(--white-color), 0 var(--distance) var(--white-color);
}
.btn.btn-secondary:hover span {
    text-shadow: 0 calc(var(--distance) * -1) var(--white-color), 0 0 var(--white-color);
}


.btn-icon{
    border: 1px solid var(--gray-color);
    border-radius: 100vh;
    padding: .5rem;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1.8rem;
}
.btn-icon span {
    text-shadow: 0 0 var(--white-color), 0 var(--distance) var(--white-color);
    margin: 0 1.8rem 0 2.3rem;
}
.btn-icon:hover span {
    text-shadow: 0 calc(var(--distance) * -1) var(--white-color), 0 0 var(--white-color);
}

h1 {
    font-size: 7.2rem;
    line-height: 1.1;
    font-weight: 600;
    background: -webkit-linear-gradient(to bottom right, #ffffff, #8C9CB0);
    background: linear-gradient(to bottom right, #ffffff, #8C9CB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

h2 {
    font-size: 5.2rem;
    line-height: 1.1;
    font-weight: 500;
    background: -webkit-linear-gradient(to bottom right, #ffffff, #8C9CB0);
    background: linear-gradient(to bottom right, #ffffff, #8C9CB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
h2.dark {
    color: var(--black-color);
    background: none;
    background: none;
    -webkit-text-fill-color: currentcolor;
}

h3 {
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--gray-color);
}

/* UTILITIES */





/* CURSOR */
.cursor {
    display: none;
    position: fixed;
    top: -50px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: solid 2px #c3c8de;
    pointer-events: none;
    transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}
  
.cursor.active {
    mix-blend-mode: hue;
    transform: scale(1.5);
    cursor: none;
    background: var(--white-color);
    border-color: var(--white-color);
}
/* CURSOR */





/* HEADER */

.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: rgba(18, 18, 18, .8);
    backdrop-filter: blur(2rem);
    transition: padding .2s ease, top .2s ease;
}

.nav-header.active {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-header .container .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    height: 100%;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    padding: 1rem 0;
}

.nav-header.active .container .nav-wrapper {
    border-top: none;
}

.nav-header .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-header .nav-links li {
    padding: 1rem 2rem;
}

.nav-header .nav-links li a {
    display: block;
    position: relative;
    line-height: 1.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 var(--white-color), 0 1.2em #1095c1;
    font-size: 1.8rem;
    padding: 0 0.1em;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-header .nav-links li a:hover {
    text-shadow: 0 -1.2em var(--primary-color), 0 0 var(--primary-color);
}

.hamburger,
.mobile-contact {
    display: none;
}




@media screen and (max-width: 800px) {

    body.no-scroll,
    html.no-scroll {
        overflow: hidden;
    }

    .nav-header {
        height: 10rem;
    }

    .nav-header.active {
        height: 7rem;
    }

    .nav-header .nav-links {
        position: fixed;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        width: 100%;
        background: linear-gradient(to bottom, #fff, #F3F7FF);
        border-radius: 0 0 3rem 3rem;
        box-shadow: 0 1rem 3rem var(--shadow-color);
        top: -100%;
        left: 0;
        transition: top 0.5s ease;
        padding: 90px 0;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-header .nav-links li:first-child {
        margin-top: 5.5rem;
    }

    .nav-header .nav-links li a {
        font-size: 3rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 55px;
        height: 55px;
        background-color: transparent;
        z-index: 2;
        position: relative;
        overflow: hidden;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .ham8 .top {
        stroke-dasharray: 40 160;
    }
    .ham8 .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
    }
    .ham8 .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
    }
    .ham8.active .top {
        stroke-dashoffset: -64px;
    }
    .ham8.active .middle {
        transform: rotate(90deg);
    }
    .ham8.active .bottom {
        stroke-dashoffset: -64px;
    }
}

/* HEADER */













/* ---------------MAIN---------------- */




/* HERO */



#hero{
    padding-top: 20rem;
}

#hero .top h1{
    max-width: 90rem;
}

#hero .top p{
    max-width: 65rem;
    margin: 3rem 0;
}

#hero .top{
    max-width: 90rem;
}

#hero .top .btn-wrapper{
    display: flex;
    gap: 2.5rem;
}


#hero .bottom{
    margin-top: -15rem;
}

#hero .bottom img{
    width: 100%;
}


/* HERO */










/* WHY US */


#why-us{
    padding: 30rem 0 20rem;
}

#why-us .container{
    display: flex;
    gap: 10rem;
}

#why-us .container .left h3{
    white-space: nowrap;
}

#why-us .right{
    position: relative;
}

#why-us .abs-img{
    position: absolute;
    top: -85%;
    left: 5%;
    z-index: -1;
}


/* WHY US */






/* SERVICES */

#services{
    padding-bottom: 10rem;
}

#services .container > .txt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

#services .container > .txt p{
    max-width: 50rem;
}

#services .services-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

#services .service-card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--line-color);
    transition: background-color .2s ease ;
}
#services .service-card:hover{
    background-color: #1A242D;
}

#services .service-card:first-child{border-top-left-radius: 6rem;}
#services .service-card:last-child{border-bottom-right-radius: 6rem;}

#services .service-card .txt{
    text-align: center;
    padding: 3rem 2rem 0;
    transform: translateY(3rem);
}

#services .service-card .txt p{
    color: var(--primary-color);
}

#services .service-card > img{
    width: 100%;
    opacity: .4;
    transition: opacity .2s ease;
}
#services .service-card:hover > img{
    opacity: 1;
}

#services .service-card .btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 4rem 1rem 6rem;
}

#services .service-card .btn-wrapper div{
    border-radius: 100vh;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#services .service-card .btn-wrapper .one{
    background-color: var(--secondary-color);
}

#services .service-card .btn-wrapper .two{
    border: 1px solid var(--line-color);
    transition: background-color .2s ease, border .2s ease;
}

#services .service-card:hover .btn-wrapper .two{
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
}

#services .service-card .btn-wrapper .two svg path{
    transition: fill .2s ease;
}

#services .service-card:hover .btn-wrapper .two svg path{
    fill: var(--black-color);
}


/* SERVICES */







/* REFERENCE */


#reference{
    padding: 7rem 0 16rem;
}

#reference .container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20rem;
}

#reference .number-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0 6rem;
}

#reference .number-wrapper .data{
    font-weight: 700;
    font-size: 11rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

#reference .number-wrapper div:first-child .data{
    background-image: url(images/bg-txt-1.jpg);
    background-position: left;
}
#reference .number-wrapper div:nth-child(2) .data{
    background-image: url(images/bg-txt-2.jpg);
    background-position: left;
}
#reference .number-wrapper div:last-child .data{
    background-image: url(images/bg-txt-3.jpg);
    background-position: left bottom;
}


#reference .right{
    display: flex;
    flex-direction: column;
}

#reference .right .btn{
    align-self: flex-start;
}



.fill-txt > h2 {
    background: none;
    background: none;
    -webkit-text-fill-color: currentcolor;
    color: var(--white-color);
}
  
.mask {
    width: 100%;
    height: 115%;
    position: absolute;
    background: var(--black-color);
    left: 0;
    top: 0;
    opacity: 0.8;
}


/* REFERENCE */










/* PROJECTS */


#projects .projects-wrapper{
    background-image: url(images/projects-bg.jpg);
    background-size: cover;
    border-radius: 6rem;
    padding: 5rem;
}

#projects .projects-wrapper .txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13rem;
}
#projects .projects-wrapper .txt p{
    max-width: 30rem;
}
#projects .projects-wrapper .txt a{
    background-color: transparent;
    border: 1px solid var(--black-color);
}
#projects .projects-wrapper .txt a span{
    white-space: nowrap;
}

#projects .projects{
    margin-top: 5rem;
    display: grid;
    grid-template-areas: 
    'a b'
    'a c'
    ;
    gap: 3rem;
}


#projects .projects .project{
    overflow: hidden;
}

#projects .projects .project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projects .projects .project:first-child{
    grid-area: a;
    border-bottom-left-radius: 6rem;
}
#projects .projects .project:nth-child(2){
    grid-area: b;
    border-top-right-radius: 6rem;
}
#projects .projects .project:last-child{
    grid-area: c;
    border-bottom-right-radius: 6rem;
}

/* PROJECTS */








/* CLIENTS */

#clients{
    padding: 13rem 0;
}








/* ---------------MAIN---------------- */